
@import "colors";

@font-face {
  font-family: 'creteRound', sans-serif;
  src: url("https://github.com/Tessakam/Cycle-Jeep/tree/master/public/fonts");
  src: url(CreteRound-Regular.ttf)
}

.banner-img {
  object-fit: none;
  object-position: center;
  height: 250px;
  width: 100%;
  margin-top: 100px;
  display: inline-block;
}

.banner-caption {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 30%;
  background: rgba(0, 0, 0, 0.9);
  font-family: Arial, sans-serif;
  color: #fff;
  width: 40%;
}

.container-background {
  background-color: cornflowerblue;
  object-fit: none;
  object-position: center;
}

.container {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 2%;
  padding: 10px;
}

.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}

.mark {
  padding: 12px 0;background:none;
}

.container-review h2{
  text-align: center;
}

.block-text p {
  /*color: #585858;
  font-family: Georgia;*/
  font-style: italic;
  line-height: 20px;
}

@media only screen and (max-width: 960px) {
  #banner-img {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  #banner-img {
    width: 25%;
  }
}

/*
@mixin marginItems {
  margin: 10px 5px;
}*/

/*header navbar from Felix*/
.logo{
  overflow: visible;
  padding-top: 3%;
  cursor: pointer;
  z-index: +1;
}

header{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(50, 81, 105);
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color: black;
}

button{
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  background-color: #efd993;
  border:none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #b39f6d;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.19), 0 17px 50px 0 rgba(0, 0, 0, 0.14);
}