body{
  color: lightblue;
}

.carousel{
  object-fit: contain;
}

.carousel-item {
  width: 100%;
  height: 300px; /* example */
}

.carousel-item img {
  object-fit: none;
  object-position: center;
  height: 250px;
  width: 100%;
  display: inline-block;
  margin: auto;
}

.carousel-container{
  height: 5%;
  margin: auto;
}


.carousel {
  width:640px;
  height:360px;
  margin: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  margin-left: auto;
}

.jumbotron{
  color: #ff2148;
}

